<footer id="page-footer">
    <div class="container">
        <div class="row">
            <div id="footer-content">
                <div class="col-md-6">
                    <h4>合作站点：</h4>
                    <dl>
                        <dd>
                            <a href="http://www.bootcss.com" title="Bootstrap中文网" target="_blank">Bootstrap 中文网</a>
                        </dd>
                        <dd>
                            <a href="http://www.gruntjs.net" title="Grunt中文网" target="_blank">Grunt 中文网</a>
                        </dd>
                        <dd>
                            <a href="http://www.golaravel.com" title="Laravel 中文网" target="_blank">Laravel 中文网</a>
                        </dd>

                        <dd>
                            <a href="http://www.phpcomposer.com" title="Composer 中文网" target="_blank">Composer 中文网</a>
                        </dd>

                        <dd>
                            <a href="http://mei.me" title="MEI.ME" target="_blank">MEI</a>
                        </dd>
                    </dl>
                    <h4>托管在Github的项目 </h4>
                    <a href="http://www.bootcss.com" title="Bootstrap中文网" target="_blank">Ghost 汉化版</a>

                </div>

                <div class="col-md-6">
                    <h4>想加入我们,商业合作?</h4>
                    <a class="ourinfo" href="http://weibo.com/ghostchinacom" target="_blank">官方微博: ghostchinacom</a>
                    <a class="ourinfo email"><i class="fa fa-envelope"></i> admin@bootcss.com</a>
                    <a class="ourinfo phone"><i class="fa fa-qq"></i> shanelau1021@gmail.com</a>
                </div>
</div>
	        </div>

                <section class="copyright">All content copyright <a href="http://www.ghostchina.com/" target="_blank">Ghost 中文网</a>  &copy; {{date format="YYYY"}} • All rights reserved.</section>
                <section class="poweredby">Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a> | <a href="http://www.qiniu.com/" target="_blank">七牛云存储</a>为本站点赞助 CDN 加速</section>
                <section class="beian"><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a> | 京公网安备11010802014853</section>

</div>
</footer>